<!-- Login / Logout -->
<div style="display: flex; justify-content: center;">
  <ng-container *ngIf="user; else needLogin">
    <!-- Logout -->
    <button (click)="logout()">Logout</button>
    <button (click)="listNFTs()">listNFTs</button>
  </ng-container>
  <ng-template #needLogin>
    <!-- Logins -->
    <button (click)="login()">Login with Metamask</button>
    <button (click)="login('walletconnect')">
      Login with WalletConnect
    </button>
  </ng-template>
</div>

<!-- User -->
<app-user [user]="user" [nfts]="nftsList"></app-user>